/*------------------*/
/* SVG Hex Clusters */
/*------------------*/

#cluster0 {
    position: absolute;
    top: 0;
    right: 50%;
    z-index: 50;
    width: 2px;
}

#cluster2, #cluster3 {
    width: 38%;
}

#object2 {
    bottom: 0%;
    left: 52%;
    padding-top: 195%;
}

#object3 {
    bottom: 0%;
    left: 52%;
    padding-top: 195%;
}

.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
    filter: FlipH;
}

/*
 * Despite the names, 'rightcluster' SVGs appear
 * on both the left and right brain pages.
 */

#rightcluster1, #rightcluster2, #rightcluster3, #ontop, .pathobject {
    fill: none; 
    stroke-width: 1;
}

#rightcluster1 {
    position: absolute;
    display: none;
    top: 1.2%;
    left: -4%;
    width: 100%;
}

#rightcluster2 {
    position: absolute;
    z-index: 10;
    bottom: 0%;
    left: -4%;
    width: 100%;
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: 1400px) {
    #cluster0 {
        width: 4.5px
    }
}

@media (max-width: $xxlarge) {
    #cluster0 {
        width: 4px;
    }
}

@media (max-width: $large) {
    #cluster0, #clusterb {
        bottom: 7.1%;
    }
}