/*-------------------*/
/* Front - Home Page */
/*-------------------*/

#pagelimiter {
    margin: auto;
}

.front {
    article {
        padding-top: 86%;
    }
    
    h1 {
        display: none;
    }
    
    path {
        stroke: #333;
    }
}

/*-------------------------------------------------------*/

/*
 * Header image
 */

#matrix {
    position: relative;
    
    text {
        text-transform: none;
    }
}

#blurmatrix {
    position: absolute;
    width: 100%;
    padding-bottom: 69%;
    background-image: url(../images/60matrix.jpg);
    background-size: 100%;
}

.blur {
    max-width: 100%;
}

#ontop {
    position: absolute;
    top: 3px;
    z-index: 50;
    pointer-events: none;
}

#topcluster {
    position: absolute;
    top: 11%;
    left: 23.5%;
    width: 63%;
    
    path {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: 1s ease-in-out; 
        -moz-transition: 1s ease-in-out; 
        -o-transition: 1s ease-in-out; 
        transition: 1s ease-in-out;
    }
}

.math4, .math3, .math2, .math1 {
    display: none;
    fill: #222;
    stroke: none;
}

#mask1 circle {
    display: none;
}

#path1 {
    stroke-dasharray: 915;
    stroke-dashoffset: 915;
}

#path2 {
    stroke-dasharray: 1437;
    stroke-dashoffset: 1437;
}

#path3 {
    stroke-dasharray: 2549;
    stroke-dashoffset: 2549;
}

#path4 {
    stroke-dasharray: 1241;
    stroke-dashoffset: 1241;
}

/* iCM logo button */
p#more {
    position: absolute;
    bottom: 25%;
    left: 43.5%;
    margin: 10px auto;
    width: 6%;
    height: 8.5%;
    background-image: url(../images/icmlogo.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    
    span {
        z-index: 20;
        display: block;
        width: 100%;
        padding-top: 100%;
        cursor: pointer;
    }
}

#start-indicator {
    position: absolute;
    top: -20px;
    right: 0;
    left: 10px;
    color: $icm-teal;
    text-align: center;
    -webkit-animation: bobble 10s infinite;
    animation: bobble 10s infinite;
}

@keyframes bobble {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform:translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform:translateY(-15px);
    }
}

@-webkit-keyframes bobble {
    0%, 100% {
        -webkit-transform: translateY(0);
    }
    25% {
        -webkit-transform:translateY(-15px);
    }
    50% {
        -webkit-transform: translateY(0);
    }
    75% {
        -webkit-transform:translateY(-15px);
    }
}

#startbutton {
    position: relative;
    left: 6px;
    z-index: 20;
    display: block;
    max-width: 115px;
    margin: -26px auto;
    cursor: pointer;
}

/* Engage text/image */
#engage {
    position: absolute;
    right: 30%;
    bottom: 30%;
    z-index: 40;
    max-width: 19%;
}

#spacer {
    display: none;
}

/*-------------------------------------------------------*/

/*
 * Main section after the top animation
 */

.seemore {
    position: relative;
    display: none;
    max-width: 1086px;
    margin: auto;
    padding-top: 4%;
    background: #f6fbf9;
    
    h3 {
        margin-bottom: 30%;
        font-size: 25px;
        letter-spacing: 0.08em;
    }
    
    p {
        margin: 0 20% 5%;
        font-size: 15px;
        letter-spacing: 0.05em;
        line-height: 280%;
    }
}

.pathobject svg path {
    stroke: #eef3ef;
}

#article-1 .field--name-body {
    max-width: 100%;
    padding: 0%;
}

/*-------------------------------------------------------*/

/*
 * Tables Section
 */

#lefttable, #righttable {
    vertical-align: top;
    display: inline-block;
    width: 49%;
    padding: 0 3% 6%;
    opacity: 0;
    
    .div {
        width: 77%;
        margin: auto;
        padding: 2% 5%;
        background: #fff;
        border: solid 2px #8faaa4;
        border-radius: 5px;
    }
    
    h3 {
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 12%;
        font-size: 21px;
        text-align: left;
    }
    
    p {
        margin: 10px auto;
        letter-spacing: 0;
        line-height: 162%;
    }
    
    small {
        display: block;
        font-size: 42%;
        line-height: 50%;
    }
}

#lefttable {
    .labelate {
        width: 60%;
        background-image: url(../images/time.png);
    }
}

#righttable {
    .labelate {
        width: 70%;
        background-image: url(../images/degree.png);
        line-height: 19px;
    }
    
    .anumerate {
        width: 28%;
    }
}

/* Table labels */
.labelate {
    vertical-align: top;
    display: inline-block;
    height: 38px;
    padding-left: 19%;
    background-repeat :no-repeat;
    background-size: auto 100%;
    font-size: 19px;
    text-transform: uppercase;
}

/* Table large numbers */
.anumerate {
    display: inline-block;
    width: 40%;
    font-size: 30px;
    line-height: 55px;
    text-align: right;
}

/* Table divider lines */
.bottomline {
    border-bottom: solid 2px #999;
}

/*-------------------------------------------------------*/

/*
 * Second animated path
 */

#endpath {
    bottom:16%;
    padding-top: 210%;
}

/*-------------------------------------------------------*/

/* 'Video Will Play In X Seconds' overlay on videos */
#noplay {
    position: absolute;
    width: 100%;
    padding: 8% 0;
    background :url('../images/overlaybg.png');
    font-size: 60px;
    text-align: center;
}

/*-------------------------------------------------------*/

/*
 * Bottom Buttons
 */

/* The left and right side containers */
.leftside, .rightside, #forkroad {
    vertical-align: top;
    display: inline-block;
    width: 45%;
    
    img {
        position: relative;
        z-index: 100;
    }
    
    h4 {
        margin-bottom: 75%;
        color: #8faaa5;
        font-size: 24px;
        font-weight: 100;
        line-height: 18px;
        
        span {
            display: block;
            font-size: 51px;
            font-weight: 100;
            line-height: 57px;
        }
    }
    
    a {
        position: relative;
        left: 3%;
        display: block;
        max-width: 51%;
        text-align: center;
        text-decoration: none;
    }
}

.leftside {
    margin-left: 1.6%;
    margin-right: 2.7%;
    text-align: right;
    
    a {
        top: -72px;
    }
}

.rightside {
    margin-left: 4%;
    
    a {
        top: -68px;
    }
}

/* The left and right side animated buttons */
#leftbrain, #rightbrain, #forkroad {
    path {
        fill: #fff;
        stroke: none;
    }
    
    polygon:first-child, polygon#border {
        @include transition(all 0.4s ease);
    }
    
    &:hover {
        polygon:first-child, polygon#border {
            fill: lighten($icm-teal, 15%);
        }
    }
    
    span {
        font-family: "franklin-gothic-urw", sans-serif;
        color: #8faaa5;
    }
}

#leftbrain {
    float: right;
}

#rightbrain {
    #brush {
        stroke: #9FB7B3;
        stroke-width: 3;
    }
}

#leftgears, #rightpaint {
    max-width: 100%;
    height: 100%;
}

/* Drip coming out of the right brain paint icon */
#standarddrop {
    fill: #f6fbf9 !important;
}

/*-------------------------------------------------------*/

/*
 * Disclosure block
 */

.front .l-footer {
    display: none;
}

/*-------------------------------------------------------*/

/*
 * Max Height Media Queries
 */

@media (max-height: 1400px) {
    #pagelimiter {
        max-width: 1400px;
    }
}

@media (max-height: 1200px) {
    #pagelimiter {
        max-width: 1100px;
    }
}

@media (max-height: 600px) {
    #pagelimiter {
        max-width: 800px;
    }
}

@media (max-height: 500px) {
    #pagelimiter {
        max-width: 600px;
    }
}

/*-------------------------------------------------------*/

/*
 * Min Width Media Queries
 */

@media (min-width: $xlarge) {
    .pathobject svg path {
        stroke: #f6fbfe;
    }
}

@media (min-width: 1200px) {
    p#more {
        bottom: 25.5%;
    }
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: $xxlarge) {
    #start-indicator, #startbutton {
        display: none;
    }
    
    .labelate {
        font-size: 16px;
    }

    .anumerate {
        font-size: 34px;
    }

    #twocharts p {
        position: relative;
        top: -180px;
        left: 20%;
    }
}

@media (max-width: $large) {
    #twocharts p {
        top: 0;
        left: 0;
    }

    #lefttable, #righttable {
        h3 {
            font-size: 16px
        }
    }

    .seemore h3 {
        max-width: 465px;
    }

    .labelate {
        background-size: auto 60%;
        font-size: 13px;
    }
    
    #righttable .labelate {
        line-height: 12px;
    }
    
    .anumerate {
        font-size: 22px;
        line-height: 32px;
    }
}

@media (max-width: $medium) {
    .labelate {
        font-size: 13px;
        width: 70%;
        line-height: 18px;
    }
    
    .anumerate {
        width: 30%;
        font-size: 11px;
        line-height: 16px;
    }
    
    #endpath {
        display: none;
    }
    
    .leftside, .rightside {
        h4 {
            font-size: 15px;
            line-height: 14px;
        }
    }

    .rightside {
        margin-left: 12px;
    }
    
    #lefttable, #righttable {
        h3 {
            font-size: 15px
        }
    }

    #lefttable .labelate {
        width: 70%;
    }
    
    #righttable .labelate {
        line-height: 11px;
    }
}

@media (max-width: $small) {
    .leftside, .rightside, #forkroad {
        a {
            max-width:92%;
        }
        h4 {
            font-size: 12px;
            line-height: 4px;
            
            span {
                font-size: 37px;
                line-height: 36px;
            }
        }
        
        img {
            top: 5px;
        }
    }
    
    #lefttable, #righttable {
        width: 100%;
    }

    p#more {
        bottom: 23%;
    }

    .seemore {
        h3 {
            font-size: 20px;
        }

        p {
            margin: 0 13% 5%;
        }
    }
}