/*---------------*/
/* HTML and Body */
/*---------------*/

body {
    margin: 0;
    background: #a5b2af;
    color: #414141;
    font-family: 'Open Sans', sans-serif;
}

body.page-node-1 {
    background: #eef3ef;
}

body.admin-menu {
    margin-top: 30px;
}