/*------------*/
/* Navigation */
/*------------*/

.block--menu .menu {
    display: none;
}

.gn-menu-main {
    &, ul {
        background: none;
    }
    
    > li {
        float: right;
    
        &:hover > a {
            background: #fff;
        }
    
        &:last-child {
            border-left: none;
        }
    }
}

.gn-icon-menu:before, .gn-icon-menu.gn-selected:before {
    background: transparent;
    box-shadow: none;
}

.gn-icon-menu:before {
    height: auto;
    font-family: 'FontAwesome';
    font-size: 30px;
    content: '\f0c9';
}

.gn-menu-wrapper {
    right: 0;
    left: inherit;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    transform: translateX(60px);
}

.gn-menu li a:before, .gn-menu.ecoicons li a:before {
    font-family: 'FontAwesome';
}

.tabs--primary {
    border: 0;
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: $medium) {
    #block-system-user-menu ul, #block-menu-menu-logged-out-user-menu ul {
        padding: 0px 3px;
    }

    #block-system-user-menu, #block-menu-menu-logged-out-user-menu {
        margin-right: 2%;
    }

    #block-system-user-menu li a, #block-menu-menu-logged-out-user-menu li a {
        font-size: 12px;
    }
}