/*-----------------*/
/* Left Brain Page */
/*-----------------*/

.page-node-2 {
    #object2 {
        top: -35%;
        left: 68%;
        width: 70%;
        padding-top: 0;
    }
    
    #object3 {
        top: 18%;
        left: -36%;
        width: 70%;
        padding-top: 0;
    }
    
    /* First SVG hex cluster on the page */
    #rightcluster1 {
        left: -35%;
        opacity: 0.5;
    }
    
    .text-center p {
        max-width: 650px;
        
        &.title {
            line-height: 110%;
        }
    }
}

/* Hex-shaped buttons */
.hexlink-container {
    text-align: center;
}

.hexlink {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 120px;
    margin: 20px 11%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    
    a {
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
    }
    
    polygon {
        @include transition(all 0.4s ease);
        fill: transparent;
    }
    
    &:hover {
        polygon {
            fill: darken($icm-teal, 30%);
        }
    }
    
    .three {
        margin: 0 4%;
    }
    
    span {
        position: absolute;
        top: 25px;
        right: 0;
        left: 0;
        color: #fff;
        font-size: 40px;
    }
    
    &.opener {
        &, span {
            color: #000;
        }
        
        path {
            fill: #000;
        }
    }
}

.hexlink2 {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding-top: 60px;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 -16 108 95" enable-background="new 0 0 108 95" xml:space="preserve"><path fill="%23414141" d="M71.1,77H36.9L19.9,47l17.1-30h34.2l17.1,30L71.1,77z M38.1,75h31.8l15.9-28L69.9,19H38.1L22.2,47L38.1,75z"></path></svg>');
    background-position: center top;
    background-repeat: no-repeat;
    color: #414141;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    
    &:before {
        @include transition(all 0.4s ease);
        display: block;
        margin-bottom: 5px;
        font-family: 'FontAwesome';
        font-size: 24px;
        content: '\f0a8';
    }
    
    &:hover {
        &:before {
            margin-right: 10px;
        }
    }
}

.opener, .icolink, .hexlink {
    cursor: pointer;
}

.lincolnaudio, .processaudio {
    audio {
        display: block;
        margin: 0 auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        
        &.showaudio {
            opacity: 1;
            visibility: visible;
        }
    }
}

.icolink {
    display: block;
    width: 180px;
    margin: 0 auto;
    
    rect, path {
        @include transition(all 0.4s ease);
    }
    
    .icolink-back {
        fill: transparent;
    }
    
    &:hover {
        rect, path {
            fill: rgba(#000, 0.8);
        }
        
        .icolink-back {
            fill: darken($icm-teal, 15%);
        }
        
        .playing {
            path {
                fill: #fff;
                
                &:first-child {
                    fill: #777;
                }
            }
        }
    }
}

/* Accordions */
.accordion {
    h2 {
        color: darken($icm-teal, 35%);
    }
    
    .hidden-content {
        @include transition(all 0.4s linear);
        overflow: hidden;
        height: 0;
        padding-bottom: 0;
    }
    
    p {
        color: #eee;
    }
}

/*-------------------------------------------------------*/

/*
 * Proposition section
 */

#preprop {
    padding-top: 6%;
    background-color: #a1a099;
    color: #fff;
}

/*-------------------------------------------------------*/

/*
 * "Why Is This" second section on page
 */

#proposition {
    width: 100%;
    padding-bottom: 12%;
    background-color: #a1a099;
    background-image: url(../images/blackchalkboard.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    
    #boardcontent {
        padding-top: 13%;
    }
}

#block-block-1, #block-block-2 {
    display: none;
}

/* Animated charts in "Why Is This" section */
#twocharts, #twomorecharts {
    vertical-align: middle;
    display: inline-block;
    width: 48%;
    text-align: center;
    
    svg {
        width: 30%;
    }
    
    p {
        font-size: 15px;
        line-height: 15px;
    }
}

#chartssource {
    margin-top: 30px;
    
    p {
        font-size: 13px;
        line-height: 1.4;
    }
}

/*-------------------------------------------------------*/

/*
 * Our Investment Thesis section
 */

#investment {
    background-color: #a1a099;
    background-image: url('../images/lincoln.jpg');
    background-position: bottom center;
    color: #fff;
    
    .sectionlimit {
        padding-top: 50px;
    }
    
    a {
        color: #fff;
    }
}

/*-------------------------------------------------------*/

/*
 * Investment Philosophy section
 */

/* Lincoln section */
.lincoln {
    padding-left: 20%;
    padding-top: 20%;
    color: #000;
}

.lincolnaudio {
    @extend %clearfix;
    margin-right: 9%;
    padding-top: 10%;
    
    svg {
        float: right;
        width: 22%;
        
        &:hover {
            path {
                fill: #f0f0f0;
            }
            
            .playing path:first-child {
                fill: #777;
            }
        }
    }
    
    audio {
        float: right;
        clear: right;
        padding-bottom: 18%;
    }
    
    path {
        @include transition(all 0.4s ease);
    }
}

/*-------------------------------------------------------*/

/*
 * Animated equations section
 */

.paralax {
    position: relative;
    padding-bottom: 14%;
    background: #333;
    
    img {
        position: absolute;
        display: inline-block;
    }
}

/*-------------------------------------------------------*/

/*
 * Our Philosophy section
 */

#industry {
    padding-top: 5%;
    background-color: #fff;
    background-image: url('../images/girlbooks2.jpg');
    background-position: center 14%;
    background-repeat: no-repeat;
}

/* Sliders in Our Philosophy section */
.pager {
    color: #000;
    
    polygon {
        fill: none;
    }
    
    span {
        top: 0;
        color: #000;
        font-size: 20px;
        line-height: 55px;
    }
    
    a {
        position: relative;
        width: 60px;
        height: 55px;
        margin: 0;
        color: #000;
        text-decoration: none;
        
        svg {
            position: relative;
        }
    }
}

.cycle-pager-active polygon {
    fill: #999;
}

.cycle-slideshow {
    border: solid 2px #ccc;
    font-style: italic;
    text-align: center;
    
    li {
        right: 0;
        padding: 12px 0 10px;
    }
}

/* Creates gap where scientist woman is */
.superexpander {
    padding: 76% 0;
}

/*-------------------------------------------------------*/

/*
 * Watch a Video section
 */

.page-node-2 #philosophy {
    padding-bottom: 27%;
    padding-top: 37%;
    background-color: #fff;
    background-image: url('../images/handsraising2.jpg');
    background-position: bottom center;
}

.calloutbox {
    @include transition(all 0.4s ease);
    display: block;
    padding: 7% 18% 5% 0;
    background-image: url(../images/calloutbox.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-decoration: none;
    
    &:hover {
        color: #487fab;
    }
}

#somediv {
    .info-popup-content {
        max-width: 700px;
    }
    
    iframe {
        max-width: 100%;
        border: 0;
    }
}

/*-------------------------------------------------------*/

/*
 * Our Process section
 */

.page-node-2 #process {
    padding-top: 3%;
    background-image: url('../images/books2.jpg');
    background-position: left bottom;
    background-color: #fff;
}

.processaudios {
    padding-left: 20%;
    padding-bottom: 60px;
}

.processaudio {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 32%;
    text-align: center;
}

/* Diagram in Our Process section */
#processing {
    padding-bottom: 14%;
    padding-left: 33%;
}

#processing-screen-reader-help-text {
    position: absolute;
    top: auto;
    left: -1000000px;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

/*-------------------------------------------------------*/

/*
 * Benchmarking & Performance Attribution section
 */

#selection {
    padding-top: 20%;
    background-color: #fff;
    background-image: url('../images/marker.jpg');
    background-position: right top;
    
    .accordion {
        h2 {
            text-align: center;
        }
        
        p {
            color: #414141;
        }
    }
}

/*-------------------------------------------------------*/

/*
 * Bottom buttons section
 */

.page-node-2 #getstarted {
    background-color: #fff;
    background-image: url(../images/whiteboard.jpg);
    background-position: bottom center;
}

/*-------------------------------------------------------*/

/*
 * Disclosure block
 */

.page-node-2 #block-block-8 {
    background-color: #d6d6d6;
}

/*-------------------------------------------------------*/

/*
 * Max Height Media Queries
 */

@media (max-height: 1200px) {
    .page-node-2 #rightcluster1 {
        left: -45%;
    }
}

/*-------------------------------------------------------*/

/*
 * Min Width Media Queries
 */

@media (min-width: $xlarge) {
    .page-node-2 .text-center p {
        max-width: 820px;
        line-height: 200%;
    }
    
    #proposition {
        padding-top: 4%;
    }
    
    #twocharts svg, #twomorecharts svg {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    #proposition {
        background-image: url(../images/smallboard.jpg);
    }
}

@media (min-width: 1600px) {
    #twocharts, #twomorecharts {
        margin: 8% 0 0;
    }
    
    #proposition .hexlink {
        margin: 3% 8%;
    }
    
    #process {
        background-size: 75% auto;
    }
}

@media (min-width: 1700px) {
    #proposition {
        padding-bottom: 30%;
    }
    
    #twocharts svg, #twomorecharts svg {
        width: 55%;
    }
}

@media (min-width: 2400px) {
    #twocharts, #twomorecharts {
        margin: 15% 0 0;
    }
    
    #proposition .hexlink {
        margin: 6% 8%;
    }
    
    .page-node-2 .text-center p, .page-node-2 .text-left p {
        font-size: 30px;
    }
    
    #selection {
        background-size: 68% auto;
    }
}

@media (min-width: 2100px) {
    #twocharts svg, #twomorecharts svg {
        width: 80%;
    }

    .lincoln {
        position: relative;
        left: 30%;
    }
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: 2000px) {
    .superexpander {
        padding: 65% 0;
    }
}

@media (max-width: 1800px) {
    .superexpander {
        padding: 55% 0;
    }
}

@media (max-width: 1600px) {
    #industry {
        background-position: center 25%;
    }
    
    .superexpander {
        padding: 46% 0;
    }
}

@media (max-width: 1300px) {
    #proposition {
        background-size: 120%;
    }
    
    #industry {
        background-position: center 28%;
    }
    
    .superexpander {
        padding: 36% 0;
    }
}

@media (max-width: $xlarge) {
    .page-node-2 .text-center p {
        max-width: 80%;
    }
    
    #industry {
        background-position: center 31%;
    }
    
    .superexpander {
        padding: 32% 0;
    }
}

@media (max-width: $large) {
    .page-node-2 .text-center p {
        font-size: 15px;
    }
    
    .calloutbox p {
        line-height: 16px;
    }
    
    #proposition {
        background-image: none;
    }
    
    .processaudios {
        padding-right: 5%;
        padding-left: 5%;
    }

    .processaudio span {
        font-size: 60px;
    }

    .page-node-2 #getstarted {
        padding-bottom: 40%;
    }
}

@media (max-width: $medium) {
    .lincolnaudio svg {
        width: 40%;
    }
    
    #industry {
        background-position: center 37%;
    }
    
    #processing {
        padding-top: 0%;
        padding-bottom: 0;
        padding-left: 6%;
    }
    
    .page-node-2 #process {
        background-position: left center;
        
        .text-right {
            text-align: center;
        }
    }
    
    .processaudio {
        display: block;
        width: 100%;
    }
    
    .icolink {
        width: 40%;
    }
    
    .cycle-slideshow li {
        padding: 12px 0 30px;
        font-size: 11px;
    }
}

@media (max-width: $small) {
    .calloutbox {
        padding: 7% 12% 6% 0;
        line-height: 12px;
    }
}