/*------------------*/
/* Right Brain Page */
/*------------------*/

.page-node-3 {
    position: relative;
    overflow: visible;
    background: none;
    
    #skrollr-body {
        background: #a4b1af;
    }
    
    #rightcluster1 {
        z-index: 1;
    }
    
    .text-right {
        padding-left: 0%;
    }
}

.right-hexlink {
    @include transition(all 0.4s ease);
    cursor: pointer;
    
    &:hover {
        @include transform(scale(1.25));
        opacity: 0.7;
    }
}

/*-------------------------------------------------------*/

/*
 * Top section, contains everything through the Ernest quote
 */

#paint {
    position: relative;
    overflow: hidden;
    padding-bottom: 102%;
    padding-top: 19%;
    background-color: #7e9393;
    background-image: url('../images/painter.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 99.99% auto;
    color: #fff;
}

/* Block of text next to the paint */
#firstblock {
    padding-bottom: 10%;
    
    hr {
        display: block;
        width: 23%;
        margin: auto;
        border-top: 1px solid #fff;
        color: #fff;
    }
}

/* Paint sections in the background at the top of the page */
#fullpaint {
    position: absolute;
    z-index: 4;
}

#halfpaint {
    position: absolute;
    z-index: 5;
    
}

/* Pop-up buttons */
#openhistory {
    margin-left: 40%;
}

#opensleep {
    margin-left: 39%;
}

/* Seagulls in the background */
#seagull2, #seagull1 {
    position: relative;
    z-index: 4;
}

/* Clouds above the Ernest quote */
#clouds {
    position: relative;
    z-index: 1;
    max-width: inherit;
}

/* Ernest Hemingway quote */
#ernestquote {
    position: absolute;
    bottom: 34%;
    z-index: 100;
    width: 48%;
    color: #222;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-align: center;
    
    span {
        font-size: 14px;
    }
}

/*-------------------------------------------------------*/

/*
 * Video section
 */

#data {
    position: relative;
    overflow: visible;
    margin-top: -53%;
    margin-bottom: -30%;
    background: none;
}

/* Icons section under video */
#daicons {
    width: 70%;
    margin: 5% auto 10%;
    text-align: center;
    
    img {
        display: inline-block;
        max-width: 22%;
        margin: 6%;
    }
}

/*-------------------------------------------------------*/

/*
 * Process pop-up graphic
 */

#process {
    .info-popup-content {
        max-width: 800px;
    }
}

.twerlobject {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 95%;
    
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.spinner {
    position: absolute;
    width: 35%;
    height: 0;
    padding: 5% 3% 19% 5%;
    
    h3 {
        color: #000;
        font-size: 15px;
        line-height: 17px;
        text-align: left;
    }
    
    p {
        font-size: 13px;
        line-height: 16px;
    }
}

.slidenumber {
    position: absolute;
    max-width: 16%;
}

.slideicon {
    position: absolute;
}

#spin1 {
    top: 15%;
    left: 45.5%;
    
    .slidenumber {
        bottom: 0%;
        left: 1%;
    }
    
    .slideicon {
        top: -22%;
        left: -9%;
    }
}

#spin2 {
    top: 49%;
    left: 59%;
    
    .slidenumber {
        top: -3.5%;
        left: -1.5%;
    }
    
    .slideicon {
        top: -10%;
        left: 73%;
    }
}

#spin3 {
    top: 60%;
    left: 15.8%;
    
    .slidenumber {
        top: 0%;
        right: 0.5%;
    }
    
    .slideicon {
        top: 94%;
        left: 87.5%;
    }
}

#spin4 {
    top: 26%;
    left: 3.8%;
    
    .slidenumber {
        right: 3%;
        bottom: -2%;
    }
    
    .slideicon {
        top: 80%;
        left: 0%;
    }
}

#twerl {
    width: 100%;
}

/*-------------------------------------------------------*/

/*
 * Bottom buttons section
 */

.page-node-3 #getstarted {
    padding-top: 88%;
    background-color: #7c735c;
    background-image: url(../images/driverkid.jpg);
    background-position: center top;
    
    small a {
        margin-top: -16%;
        margin-bottom: -6%;
        padding-top: 0;
        font-size: 20px;
        text-decoration: underline;
    }
    
    a span {
        color: #fff;
    }
}

/*-------------------------------------------------------*/

/*
 * Disclosure block
 */

.page-node-3 #block-block-8 {
    background-color: #7c735c;
    color: #fff;
    
    a {
        color: #fff;
    }
}

/*-------------------------------------------------------*/

/*
 * Min Width Media Queries
 */

@media (min-width: $xlarge) {
    #paint {
        padding-bottom: 116%;
    }
    
    /* Container below video */
    #pwidth {
        max-width: 620px;
        margin: auto;
    }
    
    /* Headline in video section below icons */
    #what {
        vertical-align: top;
        display: inline-block;
        width: 20%;
    }
    
    /* Content below the above headline */
    #this {
        vertical-align: top;
        display: inline-block;
        width: 69%;
        margin-left: 8%;
    }
    
    /* Mystery invisible SVG towards the bottom of the page */
    #theblur {
        display: none;
    }
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: $large) {
    .spinner {
        h3 {
            font-size: 11px;
            line-height: 15px;
        }
    
        p {
            font-size: 11px;
            line-height: 15px;
        }
    }
}

@media (max-width: $medium) {
    #opensleep {
        max-width: 20%;
        margin-left: 40%;
    }

    #openhistory {
        max-width: 20%;
        margin-bottom: 15%;
    }
    
    .page-node-3 #getstarted {
        padding-top: 111%;
    }
    
    .twerlobject {
        padding-top: 120%;
    }
    
    .spinner {
        h3 {
            font-size: 9px;
            line-height: 10px;
        }
    
        p {
            font-size: 9px;
            line-height: 10px;
        }
    }
}

@media (max-width: $small) {
    #paint {
        padding-bottom: 135%;
    }
    
    #ernestquote {
        width: 87%;
        margin-left: 5%;
    }
    
    .spinner {
        h3 {
            font-size: 6px;
            line-height: 5px;
        }
    
        p {
            font-size: 6px;
            line-height: 8px;
        }
    }
}