/*-------------*/
/* Page - Team */
/*-------------*/

.section-team {
    h2 {
        margin: 30px 0 20px;
        text-align: center;
        text-transform: uppercase;
    }
}

.team-member-container {
    @extend .cf;
    padding: 30px 0;
    border-top: solid 1px #ccc;
    border-color: rgba(#000, 0.1);
}

.team-member-photo, .team-member-bio {
    float: left;
}

.team-member-photo {
    width: 30%;
    
    img {
        height: auto;
        border: solid 1px #ccc;
        border-color: rgba(#000, 0.1);
    }
}

.team-member-bio {
    width: 70%;
    padding-left: 30px;
    
    h4 {
        margin-top: 0;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: $medium) {
    .team-member-photo, .team-member-bio {
        float: none;
        width: 100%;
    }
    
    .team-member-photo {
        margin: 0 auto 15px auto;
    }
    
    .team-member-bio {
        padding-left: 0;
    }
}