/* 
 * I can't figure out what these styles are refering to.
 * They might not even exist anywhere anymore. I couldn't find
 * anything searching through the entire theme directory.
 */

#array {
    div {
        &.even {
            margin-left: 50px;
        }
        
        div {
            display: inline-block;
            width: 98px;
            height: 97px;
            background-image: url(../images/calltoaction.png);
            background-position: 98px 0;
    
            &:hover, &.active {
                position: relative;
                left: 10px;
                background-image: url(../images/secondgo.jpg);
                cursor: pointer;
            }
        }
    }
}

.field--name-filedepot-folder-file{
    text-align:center;
}

#branch {
    position: absolute;
    z-index: 0;
    top: 19%;
    right: 0;
    left: 0;
    width: 10%;
    margin-right: auto;
    margin-left: auto;
}

#drawnline {
    position: absolute;
    bottom: 8%;
    left: 33%;
    z-index: 60;
}

.grayspace {
    position: relative;
    width: 100%;
    height: 86px;
    padding: 1% 7% 10% 15%;
    background: #e2e2e2;
    border-radius: 10px;

    h3 {
        color: #000;
        font-size: 4px;
        font-weight: 400;
        text-align: left;
    }
    
    img {
        position: absolute;
        top: 23px;
        right: -5%;
        width: 10%;
    }
}

.insight {
    clear: both;
    margin-bottom: 80px;
    
    h3 {
        text-align: left;
    }
    
    p {
        font-size: 18px;
    }
}

#learnmore {
    position: relative;
    display: none;
    width: 790px;
    height: 733px;
    margin: auto;
    background-image: url(../images/learnmore.png);
    background-position: center;
    background-repeat: no-repeat;
    
    iframe {
        position: absolute;
        top: 175px;
        left: 60%;
    }
}

#leftcluster1 {
    position: absolute;
    top: 19%;
    left: 50%;
}

#lefttrigger {
    width: 100%;
    padding-bottom: 93%;
}

#rsix {
    .six {
        background-position: 0px 0px;
        
        &:hover {
            left: 0;
            background-image: url(../images/calltoaction.png);
        }
    }
}

.section-left-brain {
    background-color: #fcfbf9;
}

.slideout {
    position: relative;
    width: 60%;
    margin: 8% auto;
    
    p {
        font-size: 12px;
        margin: 0;
    }
}

.slideicon {
    position: absolute;
    top: -8%;
    left: -10%;
    z-index: 50;
    width: 21%;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 2469.678735339%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.titleline {
    display: block;
    max-width: 10%;
    margin: auto auto 8% auto;
}

#titletext {
    position: absolute;
    z-index:40;
    top: 1%;
    width: 100%;
    text-align: center;
    
    h1 {
        display: block;
    }
    
    p {
        color: #8faaa4;
        letter-spacing: 0.17em;
    }
}

#wrapper {
    width: 100%;
    height: 10000px;
}

fieldset{
    border:none;
    margin:40px auto;
    legend{
        font-size:30px;
    }
}

/*-------------------------------------------------------*/

/*
 * Max Height Media Queries
 */

@media (max-height: 800px) {
    #c1container {
        padding-bottom: 60%;
    }
}

@media (max-height: 500px) {
    #c1container {
        padding-bottom: 38%;
    }
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: $medium) {
    .grayspace {
        width: 90%;
    
        .h3 {
            font-size: 12px;
        }
        
        p {
            font-size: 9px;
        }
    }
}