@import '../var';
@import '../anim';

/* legacy */
.img-dec {
	position: relative;
	text-align: center;
	&:before,
	&:after {
		position: absolute;
		z-index: 0;
		content: '';
	}
	img {
		position: relative;
		z-index: 1;
	}
	&.underlay {
		&.right {
			&:before {
				width: 161px;
				height: 160px;
				background: url('../../img/blue-dots.png') no-repeat;
				top: -5%;
				left: -5%;
			}
			&:after {
				top: 62%;
				right: -10px;
				width: 39%;
				height: 42%;
				background: $lightOrange;
				opacity: 0.45;
			}
		}
	}
	&.overlay {
		&.left {
			&:before {
				width: 206px;
				height: 82px;
				bottom: -30px;
				left: 5%;
				z-index: 2;
				background: $orange;
				opacity: 0.85;
			}
			&:after {
				width: 271px;
				height: 522px;
				top: -7%;
				left: 45%;
				background: $blue;
			}
		}
	}
}
/* //legacy */

.block-inline-blocksimple-image {
	&.has-decoration {
		.field--type-image {
			position: relative;
			display: inline-block;
			text-align: center;
			&:before,
			&:after {
				position: absolute;
				content: '';
			}
			img {
				position: relative;
				z-index: 1;
			}
		}
	}
	&.single-square-corner .field--type-image,
	&.reverse-single-square-corner .field--type-image {
		&:before {
			width: 150px;
			height: 192px;
			top: -2%;
			z-index: 0;
			background: $orange;
			opacity: 0.45;
		}
	}
	&.single-square-corner .field--type-image:before {
		left: -4%;
	}
	&.reverse-single-square-corner .field--type-image:before {
		right: -4%;
	}
	&.opaque-square-corners .field--type-image,
	&.reverse-opaque-square-corners .field--type-image {
		&:before {
			width: 206px;
			height: 82px;
			bottom: -30px;
			z-index: 2;
			background: $orange;
			opacity: 0.85;
		}
		&:after {
			width: 271px;
			height: 522px;
			top: -7%;
			background: $blue;
		}
	}
	&.opaque-square-corners .field--type-image {
		&:before {
			right: -5%;
		}
		&:after {
			left: -15%;
		}
	}
	&.reverse-opaque-square-corners .field--type-image {
		&:before {
			left: -5%;
		}
		&:after {
			right: -15%;
		}
	}
	&.grid-corner-and-tranclucent-square .field--type-image {
		&:before {
			width: 161px;
			height: 160px;
			background: url('../../img/blue-dots.png') no-repeat;
			top: -5%;
			left: -5%;
		}
		&:after {
			top: 62%;
			right: -10px;
			width: 39%;
			height: 42%;
			background: $lightOrange;
			opacity: 0.45;
		}
	}
}
