/*-----------------*/
/* Utility Classes */
/*-----------------*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

article {
    position: relative;
    z-index: 10;
}

section {
    overflow: hidden;
    width: 100%;
    background-size: 99.999% auto;
    background-repeat: no-repeat;
}

.sectionlimit {
    position: relative;
    clear: both;
    z-index: 10;
    max-width: 950px;
    margin: auto;
    
    p {
        font-family: 'Open Sans', sans-serif;
        
        span {
            font-size: 19px;
            letter-spacing: 0.06em;
        }
    }
}

.text-right, .text-left {
    vertical-align: top;
    display: inline-block;
    width: 48%;
    
    h2, p {
        max-width: 355px;
        margin: 0 auto;
        text-align: justify;
    }
    
    h2 {
        position: relative;
        left: 0;
        margin-bottom: 12px;
        color: #fff;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 0.3em;
        text-transform: uppercase;
    }
    
    p {
        margin-bottom: 15px;
        font-size: 14px;
        letter-spacing: 0.1em;
    }
}

.text-center, .text-left {
    p {
        font-family: 'adobe-caslon-pro', serif !important;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        
        svg {
            height: 9px;
        }
        
        span {
            font-family: 'Open Sans', sans-serif! important;
            font-size: 23px;
            font-style: normal;
            font-weight: 600;
            text-transform: uppercase;
            
            &.case {
                text-transform: none;
            }
        }
    }
}

.text-right {
    padding-left: 18%;
    
    h2, p {
        color: #454545;
    }
}

.text-center p {
    max-width: 355px;
    margin: 0 auto 15px;
}

#skrollr-body {
    position: relative;
    overflow: hidden;
}

.hide {
    display: none;
}

.Layer_1 {
    width: 10%;
    margin-bottom: 3%;
}

.divider {
    fill: #000;
    
    &.white {
        fill: #fff;
    }
}

audio {
    max-width: 100%;
}

/*-------------------------------------------------------*/

/*
 * Min Width Media Queries
 */

@media (min-width: 1070px) {
    .text-center p {
        max-width: 620px;
    }
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: $large) {
    .text-center, .text-left {
        p {
            font-size: 13px;
            
            span {
                font-size: 10px;
            }
        }
    }
}

@media (max-width: $medium) {
    .blank {
        display: none;
    }
    
    .text-left, .text-right {
        width: 100%;
        
        p {
            max-width: 230px;
        }
    }
    
    .text-right {
        padding-left: 0%;
    }
}

@media (max-width: $small) {
    .text-center {
        padding: 0 5%;
    }
}