@import './var';
@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');
.dialog-off-canvas-main-canvas {
	position: relative;
}

.toolbar-bar {
	@media all and (min-width: 264px) and (max-width: 975px) {
		max-height: 78px;
	}
}

.layout-container {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.region-header .menu-item--expanded {
	list-style-type: circle;
	list-style-image: url(../../../../../core/misc/menu-expanded.png);
	margin-left: 1em;
	pointer: cursor;
	& > .nav-link {
		padding-left: 0;
	}
}

.region-content {
	.tabs.primary {
		border-bottom: 1px solid $blue;
	}
	.page-title,
	.block-local-tasks-block,
	#edit-actions {
		margin-left: 0;
		padding-left: 0;
	}
}

.region-sidebar-first {
	.block {
		padding-left: 1rem;
		padding-right: 1rem;
		&:first-of-type {
			padding-top: 1rem;
		}
		&:last-of-type {
			padding-bottom: 1rem;
		}
	}
}

.field--name-field-specific-content-type {
	display: none;
}

.layout-builder-block {
	background: transparent;
}

.layout-builder__section {
	.layout-builder__link--remove,
	.layout-builder__link--configure {
		position: relative;
		z-index: 2;
	}
}

.container-inline {
	display: inline-block;
}

// input#edit-submit {
//   font-family: "Font Awesome\ 5 Free";
//   content: "f002";
//   background-color: transparent;
//   border: 0;
// }

.search-results {
	padding-left: 0;
	li {
		margin-left: 0;
		margin-bottom: 1rem;
	}
}

.webform-type-fieldset,
.form-type-webform-table {
	box-shadow: 3px 4px 5px 3px rgba(0, 0, 0, 0.25);
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding: 1.5rem;
	color: #333;
	& > legend {
		font-family: $oswald;
		font-weight: 100;
		color: $blue;
		font-size: 1.75rem;
	}
	legend {
		color: $blue;
	}
}

.form-textarea-wrapper {
	textarea {
		resize: none;
	}
}

.progress-marker {
	&:before {
		z-index: 2;
	}
}

.pager {
	margin-top: 2em;
}

.comment {
	.profile {
		display: none;
	}
}

.filter-guidelines {
	display: none;
}
