@import "./var";

.dialog-off-canvas-main-canvas {
  position: relative;
}

.menu-item--expanded {
  list-style-type: circle;
  list-style-image: url(../../../../../core/misc/menu-expanded.png);
  margin-left: 1em;
  pointer: cursor;
  & > .nav-link {
    padding-left: 0;
  }
}

.region-content {
  .tabs.primary {
    border-bottom: 1px solid $blue;
  }
  .page-title,
  .block-local-tasks-block,
  #edit-actions {
    margin-left: 40px;
  }
}
