/*----------------*/
/* Page - Contact */
/*----------------*/

#webform-client-form-5 {
    float: left;
    width: 40%;
    padding: 15px;
    
    .form-text {
        width: 80%;
    }
}

.page-node-6 {
    .l-content {
        @extend %clearfix;
    }
    
    article {
        float: right;
        width: 40%;
    }
    
    #article-6 .field--name-body {
        padding: 15px;
    }
    
    .site-logo {
        clear: both;
    }
}

#address, #googleMap {
    max-width: 100%;
}

#address {
    padding: 15px;
    background-color: #eee;
    background-color: rgba(#eee, 0.5);
}

#googleMap {
    margin: 0 auto 15px auto;
}

/*-------------------------------------------------------*/

/*
 * Max Width Media Queries
 */

@media (max-width: $large) {
    .page-node-6 article {
        float: none;
        width: 100%;
        text-align: center;
    }

    #webform-client-form-5 {
        float: none;
        width: 100%;
    }
}