<div
	class="panel p-3">
	{# {{ content }} #}
	<div class="row">
		<div class="d-flex justify-content-between">
			<h2 class="underline-title">Monthly Archive</h2>
			<i class="panel-icon far fa-calendar-alt"></i>
		</div>
		<div class="d-flex dropdown mt-4 justify-content-between">
			<button class="btn rounded-0 border border-dark dropdown-toggle ps-3 pe-5 py-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Select month
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
			<button class="rounded-0 btn blue px-5">View</button>
		</div>
		<hr class="my-4"/>
		<div class="input-group">
			<input type="text" class="form-control rounded-0 bg-lightGray py-3" aria-label="Text input with segmented dropdown button" placeholder="Search posts">
			<div class="input-group-append">
				<button type="button" class="btn py-3 rounded-0 text-white blue">
					<i class="fas fa-search"></i>
				</button>
			</button>
		</div>
	</div>
</div>
