{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form {{ attributes }}>
	{{ children }}
	<p>
		Don't have an account? Sign up <a href="/user/register">here!</a>
	</p>
</form>
