// Mixins

%clearfix {
    &:after {
        display: table;
        clear: both;
        content: " ";
    }
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin transition($property) {
    -webkit-transition: $property;
    transition: $property;
}

// Works IE9+
%vertical-center-fix {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) perspective(1px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) perspective(1px);
}