/*--------*/
/* Footer */
/*--------*/

/* Disclosure block */
#block-block-8 {
    margin-top: 15px;
    padding: 15px;
    background-color: #eee;
    background-color: rgba(#eee, 0.75);
    text-align: center;
    
    .block__title {
        display: none;
    }
    
    p {
        margin: 0;
    }
}

.front, .page-node-2, .page-node-3 {
    #block-block-8 {
        margin-top: 0;
        background-color: transparent;
    }
}