/*----------------*/
/* Page - General */
/*----------------*/

.page-user, .node-type-webform, .node-type-page, .node-type-article, .page-blog, .page-archive, .not-logged-in.section-blog {
    max-width: 1200px;
    margin: auto;
    padding: 0 5%;
}

.l-content {
    padding: 5%;
}

.page-node-1, .page-node-2, .page-node-3 {
    max-width: inherit;
    padding: inherit;
    
    .l-content {
        padding: 0;
    }
}